.mask{
    background: var(--mask-color); 
    position: fixed; 
    pointer-events: none;
    z-index: 9999999;
    visibility: hidden;
    border: 1px solid var(--emphasis-color);
    border-radius: 4px;
}

.stop-indicator{
    position: fixed;
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--emphasis-color) ;
    z-index: 9999999;
    transform: translateY(150%);
    pointer-events: none;

}
.stop-text{
    position: fixed;
    width: 100vw;
    color: var(--emphasis-color) ;
    padding: 2vh;
    font-size: 3vh;
    text-align: center;
    background-color: var(--mask-color);
    z-index: 9999999;
    pointer-events: none;
}