

  .annotation-image {
    box-sizing: border-box;
    position: fixed; 
    border: 1px solid var(--mask-color);
    border-radius: 4px;
    overflow: visible;
    display: inline-block;
    z-index: 2147483646;
    user-select: none;
    pointer-events: auto; 
  }
  
  .annotation-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: auto;
    border-radius: 4px;
  }
  
  .annotation-image .image-controls {
    position: absolute;
    right: 4px;
    top: 3px;
    display: flex;
    visibility: hidden;
  }
  .image-delete-btn{
    width: 4vh;
  }
  
  /* .annotation-image .image-controls button {
    background: rgba(0,0,0,0.6);
    color: #fff;
    border: none;
    width: 22px;
    height: 22px;
    border-radius: 4px;
    line-height: 22px;
    font-size: 14px;
    cursor: pointer;
    padding: 0;
  }
  
  .annotation-image .image-controls button:hover {
    background: rgba(0,0,0,0.8);
  } */
  
  .annotation-image.editing {
    border-style: solid;
    border-color: var(--mask-color);
  }
  

  .annotation-image.editing .image-controls{
    visibility: visible;
  }
  