/* 颜色变量 */
:root{
	--main-color:#76859a;

}

/* 滚动进度指示器 */
.scroll-percent {
	position: fixed;
	top: 4vh;
	right: 3vw;
	display: flex;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.2);
	height: 140px;
	width: 8px;
	border-radius: 4px;
	pointer-events: none;
	z-index: 9999;
}

.scroll-fill {
	position: absolute;
	top: 0;
	width: 100%;
	background:var(--main-color);
	border-radius: 4px;
	transition: height 0.15s ease;
}

.scroll-counter {
	position: absolute;
	top: -2vh;
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
}

.scroll-counter h1 {
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	font-weight: lighter;
	color: #fff;
	margin: 0;
}

.mouse-highlight {
		position: fixed;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: rgba(255,255,0,0.5);
		pointer-events: none;
		z-index: 9999;
		box-shadow: 0 0 8px 4px rgba(255,255,0,0.7);
		will-change: transform;
}

.spotlight {
		position: fixed;
		width: 120px;
		height: 120px;
		border-radius: 50%;
		box-shadow: 0 0 0 9999px rgba(0,0,0,0.7);
		pointer-events: none;
		z-index: 9999;
		transition: box-shadow 0.2s;
		will-change: transform;
}

/* 可拉动面板 */
.draggable-panel{
  position: fixed;
  min-width: 5vh;
  min-height: 5vh;
  border-radius: 50%;
  background:var(--main-color);
  color: #fff;;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  cursor: grab;
  z-index: 9998;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  user-select: none;
  transition: width height 0.4s ease-in-out;
}
.toggle-btn{
  z-index: 10001;
  position: absolute;
  top:	0;
  right: 0;
  width: 5vh; 
  height: 5vh;
  border: none; 
  background: var(--main-color);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon{
  width: 70%;
  height: 70%;
  stroke: #fff;
  stroke-width: 2.2;
  stroke-linecap: round;
  transition: transform 0.3s cubic-bezier(.4,0,.2,1);
}

.toggle-btn.open-panel .icon { transform: rotate(45deg); }

.draggable-card {
  position: relative;
  width: 320px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 24px rgba(0,0,0,0.18);
  z-index: 10000;
  padding: 0;
  overflow: hidden;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:var(--main-color);
  color: #fff;
  padding: 12px 16px;
  font-size: 18px;
}


.card-content {
  padding: 16px;
  min-height: 80px; 
}