.mask{
    background: var(--mask-color); 
    position: fixed; 
    pointer-events: none;
    z-index: 9999999;
    visibility: hidden;
    border: 1px solid var(--emphasis-color);
    border-radius: 4px;
}
