/* 书签样式 */
.bookmark-marker {
  position: absolute;
  left: 0;
  width: 1vh;
  height: 1vh;
  border-radius: 3px;
  background: var(--secondary-color);
  cursor: pointer;
  z-index: 10001;
  transition: background 0.2s ease-in-out, width 0.2s ease-in-out;
}

.bookmark-marker:hover {
  background: var(--lighter-color);
  width: 1.8vh;
}

.bookmark-tooltip {
  position: absolute;
  left: 0;
  transform: translate(-110%, -50%);
  background: var(--background-color);
  color: var(--main-color);
  padding: 0px 4px;
  border-radius: 4px;
  border: 1px solid var(--emphasis-color);
  white-space: nowrap;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: var(--bolder-font-size);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  z-index: 10002;
}

.bookmark-tooltip {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: none;
}
