/* 倒计时组件样式 */
.countdown-container {
  width: 100%;
  margin-bottom: 0.5vh;
}

.countdown-display-area {
  gap: 0;
}

.countdown-display {
  flex: 1;
  font-size: var(--normal-font-size);
  height: 100%;
  color: var(--main-color);
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  background-color: #fdfdfd;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
