#graffiti-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9997;
  overflow: visible;
}

#graffiti-canvas {
  position: absolute;
  top: 0;
  left: 0;
  /* cursor: crosshair; */
}

#graffiti-controls {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5vh;
  width: 100%;
  height: auto;
}

/* 颜色选择器 */
#color-input {
  width: 4vh;
  height: 4vh;
  padding: 0;
  margin-left: 1vh;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
}

/* 笔刷大小滑块 */
#brush-slider {
  width: 8vh;
  height: 1.5vh;
  -webkit-appearance: none;
  appearance: none;
  background: var(--background-color);
  border-radius: 5px;
  outline: none;
}
#brush-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2vh;
  height: 2vh;
  border-radius: 50%;
  background: var(--main-color);
  cursor: pointer;
}
#brush-slider::-moz-range-thumb {
  width: 2vh;
  height: 2vh;
  border-radius: 50%;
  background: var(--main-color);
  cursor: pointer;
  border: none;
}

#brush-input {
  font-size: var(--normal-font-size);
  font-weight: bolder;
  width: 6vh;
  color: var(--main-color);
  text-align: center;
  line-height: var(--boldest-font-size);
  margin-left: 0.5vh;
  height: var(--boldest-font-size);
  padding: 0.5vh;
  background-color: #f3f3f3;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  box-sizing: border-box;
}

#brush-input:focus {
  outline: 1px solid var(--main-color);
  background-color: var(--background-color);
}

#graffiti-controls span {
  font-size: var(--normal-font-size);
  min-width: 3vh;
  color: var(--main-color);
  text-align: center;
  line-height: var(--boldest-font-size);
  height: var(--boldest-font-size);
  padding: 0.5vh;
  background-color: #f3f3f3;
}

/* .graffiti-icon {
    width: 50%;
    height: 50%;
    pointer-events: none; 
} */
.tool-group {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}
