.annotation-rect {
  position: absolute;
  box-sizing: border-box;
  pointer-events: auto;
  border: 3px solid var(--main-color);
  border-radius: 4px;
  user-select: none;
  touch-action: none;
}

.annotation-text-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #ccc;
  display: none;
  pointer-events: auto;
  z-index: 10000;
  padding: 2px 3vh 2px 2px;
  box-sizing: border-box;
}

.annotation-text-input {
  width: 100%;
  border: none;
  background: transparent;
  font-size: 2vh;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

.annotation-delete-btn {
  position: absolute;
  font-size: 2vh;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
  pointer-events: auto;
}

.annotation-tooltip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  font-size: 2.4vh;
  padding: 0.5vh;
  box-sizing: border-box;
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease;
  pointer-events: none;
  z-index: 9999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.annotation-preview {
  position: absolute;
  border: 3px dashed var(--main-color);
  border-radius: 4px;
  pointer-events: none;
  z-index: 9998;
  user-select: none;
}
