/* 滚动进度指示器 */
.scroll-percent {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(82, 102, 109, 0.2);
  height: 100%;
  width: 1vh;
  z-index: 9999;
}

.scroll-fill {
  position: absolute;
  top: 0;
  width: 100%;
  background: var(--secondary-color);
  border-radius: 0 0 3px 3px;
  transition: height 0.15s ease;
}

/* .scroll-counter {
    position: absolute;
    top: -2vh;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.scroll-counter h1 {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: lighter;
    color: #fff;
    margin: 0;
} */
